<div style="text-align:center">
  <p>Item name</p>
  <input type="text">

  <p>Item price</p>
  <input type="text">
  <br>
  <br>
  <p>Item description</p>
  <textarea></textarea>
  <br>
  <br>


  <p>Item Main Category</p>
  <select >        
    <option>Men</option>
    <option>Women</option>
    <option>Unisex</option>
  </select>
  <br>
  <br>

  <p>Item Subcategory</p>
  <input type="text">
  <br>
  <br>


  <p>Item Images</p>
  <input type="file">
  <br>
  <br>

  <p>Add item to database</p>
  <button>Save</button>

</div>